
  /* About Us section */
  .headershop15 .shop15about-us {
    margin: 20px 0;
    font-size: 20px;
    padding: 20px;
    background-color: #f3f3f3; /* Background color for the section */
  }
  
  /* Contact Us section */
  .headershop15 .shop15contact-us {
    margin: 20px 0;
    font-size: 20px;
    padding: 20px;
    background-color: #f3f3f3; /* Background color for the section */
  }
  
  