/* Cart.css */

/* Button styles */
.cart .cart-button {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
 .cart .cart-button:hover {
    background-color: #0056b3;
  }
  